body {
    background: #3466AF;
}

.header {
    /*font-family: DejaVu Sans Mono, monospace;
    color: white;*/
    text-align: center;
}


#pokedex{
    visibility: hidden;
}

.cargandoDatos{
    display: flex;
    visibility: hidden;
    margin-left: auto;
    margin-right: auto;
    font-size: 50px;
    text-align: center;
}

.input{
    visibility: hidden;
}

.btnMenu{
    visibility: hidden;
    cursor: pointer;
}

.logo {
    width: 600px; 
    height: 200px;
}

.body {
    display: flex;
    align-items: center;
    justify-content: center;
}

.button {
    background-color: #ff0000;
    cursor: pointer;
    border-radius: 8px;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    font-family: DejaVu Sans Mono, monospace;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}

/* Pokedex */

#pokedex {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-gap: 10px 10px;
    width: 100%;
}

.card {
    font-family: DejaVu Sans Mono, monospace;
    cursor: pointer;
    border: 2px solid rgb(78, 78, 78);
    border-radius: 5px;
    background-image: linear-gradient(rgb(88, 88, 88), rgb(255, 255, 255));
    text-align: center;
    transition: border-color 0.3s ease;
}

.card.fire:hover{
    border-color: #f08030;
    background: linear-gradient(45deg, #f08030, #fcdcdc);
}

.card.water:hover{
    border-color: #6890f0;
    background: linear-gradient(45deg, #6890f0, #a3d1f8);
}

.card.grass:hover{
    border-color: #409b12;
    background: linear-gradient(45deg, #409b12, #a8e080);
}

.card.electric:hover{
    border-color: #F8D030;
    background: linear-gradient(45deg, #F8D030, #fff29d);
}

.card.bug:hover{
    border-color: #78C850;
    background: linear-gradient(45deg, #78C850, #d0f79d);
}

.card.normal:hover{
    border-color: rgb(201, 201, 201);
    background: linear-gradient(45deg, rgb(201, 201, 201), #f0f0f0);
}

.card.poison:hover{
    border-color: rgb(199, 3, 199);
    background: linear-gradient(45deg, rgb(199, 3, 199), #f2a7f2);
}

.card.ground:hover{
    border-color: #ac5702;
    background: linear-gradient(45deg, #ac5702, #e8a457);
}

.card.fairy:hover{
    border-color: rgb(252, 147, 164);
    background: linear-gradient(45deg, rgb(252, 147, 164), #ffe4e9);
}

.card.ice:hover{
    border-color: lightblue;
    background: linear-gradient(45deg, lightblue, #e0f7ff);
}
.card.fighting:hover{
    border-color: red;
    background: linear-gradient(45deg, red, #ff7070);
}

.card.psychic:hover{
    border-color: palevioletred;
    background: linear-gradient(45deg, palevioletred, #ff6f91);
}

.card.rock:hover{
    background: linear-gradient(45deg, #6e6e6e, #616161);
}

.card.ghost:hover{
    border-color: rgb(99, 0, 99);
    background: linear-gradient(45deg, #b19cd9, #4b0082);
}

.card.dragon:hover{
    border-color: #4d5ddc;
    background: linear-gradient(45deg, #a3abf8, #4d5ddc);
}

.card.normal.flying:hover{
    background: linear-gradient(45deg, rgb(201, 201, 201), rgb(93, 93, 184));
}

.card.bug.poison:hover{
    background: linear-gradient(75deg,#78C850, rgb(199, 3, 199));
}

.card:hover img {
    display:none;
}
.card .front {
    display:none;
}
.card:hover .front {
    display: inline-flex;
    animation: resizePokemon 1s infinite;
}

.card:hover .height_weight img{
    display: inline-block;
}

@keyframes resizePokemon {
    0% { transform: scale(1)}
    100% { transform: scale(1.2)}
}


.height_weight{
    font-size: 14px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px ;
}


.types {
    border: 1px solid rgb(255, 217, 0);
    font: bold;
    background-image: linear-gradient(rgb(248, 247, 169), rgb(255, 238, 0));
}